<!DOCTYPE html>
<html lang="en" style="min-height: 96%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Scrim Tracker for Planetside 2">
    <meta name="author" content="DylanNZ">
    <title>Scrim Tracker Aliases</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../public/stylesheets/overlay.css" rel="stylesheet">
    <!-- <link href="../stylesheets/style.css" rel="stylesheet"> -->
</head>
<body>
    <div class="overlayGridContainer">
        <!-- JUMBOTRON -->
        <div class="overlayTitle">E U R O D O M E II</div>
        <div class="matchTimer">15:00</div>
        <!-- TEAM 1 SCORES -->
        <div class="team1header factionNC">[JOXE] lol Competitive J0KE lol</div>
        <div class="team1players playersContainer">
                <div class="playerText" id="T1P1">Gelos1</div>
                <div class="playerText" id="T1P2">Gelos2</div>
                <div class="playerText" id="T1P3">Gelos3</div>
                <div class="playerText" id="T1P4">Gelos4</div>
                <div class="playerText" id="T1P5">Gelos5</div>
                <div class="playerText" id="T1P6">Gelos6</div>
        </div>
        <!-- TEAM 2 SCORES -->
        <div class="team2header factionTR">[KYBA] la blaguettes</div>
        <div class="team2players playersContainer">team 2 players</div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="../public/js/main.js"></script> -->
<script src="../public/js/mainStream.js"></script>
</body>
</html>