.eventTitle {
    position: fixed;
    bottom: 5px;
    left: calc(50% - 175px);
    width: 350px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
    letter-spacing: 5px;
    font-style: oblique;
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    font-weight: 700;
    mix-blend-mode: luminosity;
    color: rgb(20, 20, 20);
}