/* TEXT COLORS */
.faction1 {
  --faction-primary-color: rgb(112, 80, 237);
  --faction-dark-color: rgb(46, 33, 96);
  --faction-dark-trans-color: rgba(46, 33, 96, 0.8);
  --faction-dark-high-trans-color: rgba(46, 33, 96, 0.7);
  --faction-light-color: rgb(202, 188, 255);
  --faction-flavor-color: rgb(184, 233, 227);
  --faction-flavor-trans-color: rgb(184, 233, 227, 0.5);
}

 .faction2 {
    --faction-primary-color: rgb(30, 153, 252);
    --faction-dark-color: rgb(7, 37, 61);
    --faction-dark-trans-color: rgba(7, 37, 61, 0.8);
    --faction-dark-high-trans-color: rgba(7, 37, 61, 0.7);
    --faction-light-color: rgb(182, 221, 253);
    --faction-flavor-color: rgb(255, 247, 175);
    --faction-flavor-trans-color: rgb(255, 247, 175, 0.5);
}

.faction3 {
    --faction-primary-color: rgb(255, 108, 112);
    --faction-dark-color: rgb(64, 27, 28);
    --faction-dark-trans-color: rgba(64, 27, 28, 0.8);
    --faction-dark-high-trans-color: rgba(64, 27, 28, 0.7);
    --faction-light-color: rgb(255, 190, 191);
    --faction-flavor-color: rgb(229, 217, 212);
    --faction-flavor-trans-color: rgb(229, 217, 212, 0.5);
  }

.faction1dark {
    color: rgb(46, 33, 96) !important;
}

.faction2dark {
    color: rgb(7, 37, 61) !important;
}

.faction3dark {
    color: rgb(64, 27, 28) !important;
}

.faction1highlight {
    color: rgb(202, 188, 255) !important;
}

.faction2highlight {
    color: rgb(255, 247, 175) !important;
}

.faction3highlight {
    color: rgb(229, 217, 212) !important;
}

.faction1flavor {
    color: rgb(184, 233, 227) !important;
}

.faction2flavor {
    color: rgb(255, 247, 200) !important;
}

.faction3flavor {
    color: rgb(64, 27, 28) !important;
}


/* KILLFEED COLORS */
.faction1killtext {
    color: rgb(141, 112, 255) !important;
    text-shadow: 0px 0px 1px rgb(46, 33, 96) !important;
}

.faction2killtext {
    color: rgb(30, 153, 252) !important;
    text-shadow: 0px 0px 1px rgb(7, 37, 61) !important;
}

.faction3killtext {
    color: rgb(255, 108, 112) !important;
    text-shadow: 0px 0px 1px rgb(64, 27, 28) !important;
}


/* BORDER COLORS */
.faction1border {
    border-color: rgb(112, 80, 237) !important;
}
.faction1DarkBorder {
    border-color: rgb(46, 33, 96) !important;
}

.faction2border {
   border-color: rgb(30, 153, 252) !important;
}
.faction2DarkBorder {
   border-color: rgb(7, 37, 61) !important;
}

.faction3border {
    border-color: rgb(255, 108, 112) !important;
}
.faction3DarkBorder {
    border-color: rgb(64, 27, 28) !important;
}


/* TIMER BORDER COLORS */
.faction1DarkBorderLeft {
    border-left-color: rgb(46, 33, 96) !important;
}
.faction1DarkBorderRight {
    border-right-color: rgb(46, 33, 96) !important;
}

.faction2DarkBorderLeft {
    border-left-color: rgb(7, 37, 61) !important;
}
.faction2DarkBorderRight {
    border-right-color: rgb(7, 37, 61) !important;
}

.faction3DarkBorderLeft {
    border-left-color: rgb(64, 27, 28) !important;
}
.faction3DarkBorderRight {
    border-right-color: rgb(64, 27, 28) !important;
}


/* BACKGROUND COLORS */
.faction1background {
    background-color: rgb(112, 80, 237) !important;
}
.faction1DarkBackground {
    background-color: rgb(46, 33, 96) !important;
}

.faction2background {
    background-color: rgb(30, 153, 252) !important;
}
.faction2DarkBackground {
    background-color: rgb(7, 37, 61) !important;
}

.faction3background {
    background-color: rgb(255, 108, 112) !important;
}
.faction3DarkBackground {
    background-color: rgb(64, 27, 28) !important;
}

/* FOR SCOREBOARD */
.aliasFaction1 {
    color: rgba(202, 188, 255, 1);
}
.aliasFaction2 {
    color: rgba(255, 247, 175, 1);
}
.aliasFaction3 {
    color: rgba(229, 217, 212, 1);
}