
/* TEXT COLORS */
.faction1 {
    /* color: rgb(106, 76, 224); */
  /* color: rgb(112, 80, 237); */
  /* color: rgb(141, 112, 255) !important; */
  /* --faction-primary-color: rgb(141, 112, 255); */
  --faction-primary-color: rgb(112, 80, 237);
  --faction-dark-color: rgb(46, 33, 96);
  --faction-dark-trans-color: rgba(46, 33, 96, 0.8);
  --faction-light-color: rgb(202, 188, 255);
  --faction-flavor-color: rgb(184, 233, 227);
}

 .faction2 {
    /* color: rgb(30, 153, 252) !important; */
    --faction-primary-color: rgb(30, 153, 252);
    --faction-dark-color: rgb(7, 37, 61);
    --faction-dark-trans-color: rgba(7, 37, 61, 0.8);
    /* --faction-light-color: rgb(255, 247, 175); */
    --faction-light-color: rgb(182, 221, 253);
    --faction-flavor-color: rgb(255, 247, 175);
    /* --faction-flavor-color: rgb(255, 247, 200); */
}

.faction3 {
    /* color: rgb(255, 108, 112) !important; */
    --faction-primary-color: rgb(255, 108, 112);
    --faction-dark-color: rgb(64, 27, 28);
    --faction-dark-trans-color: rgba(64, 27, 28, 0.8);
    --faction-light-color: rgb(255, 190, 191);
    --faction-flavor-color: rgb(229, 217, 212);
  }

.faction1dark {
    color: rgb(46, 33, 96) !important;
}

.faction2dark {
    color: rgb(7, 37, 61) !important;
}

.faction3dark {
    color: rgb(64, 27, 28) !important;
}

.faction1highlight {
    color: rgb(202, 188, 255) !important;
    /* color: rgb(184, 233, 227); */
}

.faction2highlight {
    /* color: rgb(182, 221, 253); */
    color: rgb(255, 247, 175) !important;
}

.faction3highlight {
    /* color: rgb(255, 210, 211); */
    color: rgb(229, 217, 212) !important;
}

.faction1flavor {
    color: rgb(184, 233, 227) !important;
}

.faction2flavor {
    /* color: rgb(255, 247, 175); */
    color: rgb(255, 247, 200) !important;
}

.faction3flavor {
    color: rgb(64, 27, 28) !important;
}


/* KILLFEED COLORS */
.faction1killtext {
    /* color: rgb(184, 233, 227); */
    color: rgb(141, 112, 255) !important;
    text-shadow: 0px 0px 1px rgb(46, 33, 96) !important;
    /* text-shadow: 0px 0px 1px rgb(184, 233, 227); */
}

.faction2killtext {
    /* color: rgb(255, 247, 175); */
    color: rgb(30, 153, 252) !important;
    text-shadow: 0px 0px 1px rgb(7, 37, 61) !important;
    /* text-shadow: 0px 0px 1px rgb(255, 247, 175); */
}

.faction3killtext {
    /* color: rgba(229, 217, 212, 0.95); */
    /* color: rgb(255, 210, 211); */
    color: rgb(255, 108, 112) !important;
    /* color: rgb(255, 108, 112);  */
    text-shadow: 0px 0px 1px rgb(64, 27, 28) !important;
    /* text-shadow: 0px 0px 1px rgb(255, 210, 211); */
}


/* BORDER COLORS */
.faction1border {
    border-color: rgb(112, 80, 237) !important;
}
.faction1DarkBorder {
    border-color: rgb(46, 33, 96) !important;
}

.faction2border {
   border-color: rgb(30, 153, 252) !important;
}
.faction2DarkBorder {
   border-color: rgb(7, 37, 61) !important;
}

.faction3border {
    border-color: rgb(255, 108, 112) !important;
}
.faction3DarkBorder {
    border-color: rgb(64, 27, 28) !important;
}


/* TIMER BORDER COLORS */
.faction1DarkBorderLeft {
    border-left-color: rgb(46, 33, 96) !important;
}
.faction1DarkBorderRight {
    border-right-color: rgb(46, 33, 96) !important;
}

.faction2DarkBorderLeft {
    border-left-color: rgb(7, 37, 61) !important;
}
.faction2DarkBorderRight {
    border-right-color: rgb(7, 37, 61) !important;
}

.faction3DarkBorderLeft {
    border-left-color: rgb(64, 27, 28) !important;
}
.faction3DarkBorderRight {
    border-right-color: rgb(64, 27, 28) !important;
}


/* BACKGROUND COLORS */
.faction1background {
    background-color: rgb(112, 80, 237) !important;
}
.faction1DarkBackground {
    background-color: rgb(46, 33, 96) !important;
}

.faction2background {
    background-color: rgb(30, 153, 252) !important;
}
.faction2DarkBackground {
    background-color: rgb(7, 37, 61) !important;
}

.faction3background {
    background-color: rgb(255, 108, 112) !important;
}
.faction3DarkBackground {
    background-color: rgb(64, 27, 28) !important;
}




/*______________*/
/* EVERYTHING ELSE */

.scoreboard {
    border-radius: 1px;
    color: rgb(245, 245, 255);
    /* max-width: 450px; */
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
}

.outfitScoresContainer {
    display: inline-block;
    box-sizing: inherit;
    border-radius: 1px;
    /* height: 31px; */
    -moz-transition: height 0.5s cubic-bezier(.86,0,.07,1);
    -webkit-transition: height 0.5s cubic-bezier(.86,0,.07,1);
    transition: height 0.5s cubic-bezier(.86,0,.07,1);
    color: rgb(35, 35, 35);
}

.outfitScoresRow {
    display: inline-block;
    /* height: 26px; */
    height: 35px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: var(--faction-primary-color, rgb(20, 20, 20));
    -moz-transition: border 0.5s cubic-bezier(.86,0,.07,1);
    -webkit-transition: border 0.5s cubic-bezier(.86,0,.07,1);
    transition: border 0.5s cubic-bezier(.86,0,.07,1);
    border-bottom: 1px solid rgb(26, 26, 26) !important;
    box-sizing: inherit;
    background-color: rgb(35, 35, 35);
    /* font-size: 22px; */
    font-size: 24px;
}

.outfitAlias {
    text-align: left;
    display: inline-block;
    width: 70px;
    font-weight: 500;
    box-sizing: inherit;
    color: var(--faction-flavor-color, rgb(35, 35, 35));
    -moz-transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
    -moz-transition-delay: 1.5s;
    -webkit-transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
    -webkit-transition-delay: 1.5s;
    transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 1.5s;
    -moz-animation: flashTextShadow;
    -moz-animation-duration: 1.75s;
    -moz-animation-delay: 1.75s;
    -webkit-animation: flashTextShadow;
    -webkit-animation-duration: 1.75s;
    -webkit-animation-delay: 1.75s;
    animation: flashTextShadow;
    animation-duration: 1.75s;
    animation-delay: 1.75s;
}

.aliasFaction1 {
    color: rgba(202, 188, 255, 1);
}
.aliasFaction2 {
    color: rgba(255, 247, 175, 1);
}
.aliasFaction3 {
    color: rgba(229, 217, 212, 1);
}

@keyframes fadeToAliasText {
    from {
        opacity: 0;
        color:  rgb(35, 35, 35);
    }
    to {
        opacity: 1;
        color: var(--faction-flavor-color);
    }
}
@-webkit-keyframes fadeToAliasText {
    from {
        opacity: 0;
        color:  rgb(35, 35, 35);
    }
    to {
        opacity: 1;
        color: var(--faction-flavor-color);
    }
}
@-moz-keyframes fadeToAliasText {
    from {
        opacity: 0;
        color:  rgb(35, 35, 35);
    }
    to {
        opacity: 1;
        color: var(--faction-flavor-color);
    }
}

@keyframes fadeToAliasFaction1 {
    from {
         opacity: 0;
         color: rgba(202, 188, 255, 0);
    }

    to {
        opacity: 1;
        color: rgba(202, 188, 255, 1);
    }
}
@-webkit-keyframes fadeToAliasFaction1 {
    from {
         opacity: 0;
         color: rgba(202, 188, 255, 0);
    }

    to {
        opacity: 1;
        color: rgba(202, 188, 255, 1);
    }
}
@-moz-keyframes fadeToAliasFaction1 {
    from {
         opacity: 0;
         color: rgba(202, 188, 255, 0);
    }

    to {
        opacity: 1;
        color: rgba(202, 188, 255, 1);
    }
}

@keyframes fadeToAliasFaction2 {
    from {
        opacity: 0;
        color: rgba(255, 247, 175, 0);
    }

    to {
        opacity: 1;
        color: rgba(255, 247, 175, 1);
    }
}
@-webkit-keyframes fadeToAliasFaction2 {
    from {
        opacity: 0;
        color: rgba(255, 247, 175, 0);
    }

    to {
        opacity: 1;
        color: rgba(255, 247, 175, 1);
    }
}
@-moz-keyframes fadeToAliasFaction2 {
    from {
        opacity: 0;
        color: rgba(255, 247, 175, 0);
    }

    to {
        opacity: 1;
        color: rgba(255, 247, 175, 1);
    }
}

@keyframes fadeToAliasFaction3 {
    from {
         opacity: 0;
         color: rgba(229, 217, 212, 0);
    }
    
    to {
        opacity: 1;
        color: rgba(229, 217, 212, 1);
    }
}
@-webkit-keyframes fadeToAliasFaction3 {
    from {
         opacity: 0;
         color: rgba(229, 217, 212, 0);
    }
    
    to {
        opacity: 1;
        color: rgba(229, 217, 212, 1);
    }
}
@-moz-keyframes fadeToAliasFaction3 {
    from {
         opacity: 0;
         color: rgba(229, 217, 212, 0);
    }
    
    to {
        opacity: 1;
        color: rgba(229, 217, 212, 1);
    }
}


.outfitScore {
    display: inline-block;
    min-width: 80px;
    box-sizing: inherit;
}

@keyframes fadeInFromGray {
    from {
            opacity: 0;
            color: rgba(20, 20, 20, 0);
    }

    to {
        opacity: 1;
        color: rgb(245, 245, 255);
    }
}
@-webkit-keyframes fadeInFromGray {
    from {
            opacity: 0;
            color: rgba(20, 20, 20, 0);
    }

    to {
        opacity: 1;
        color: rgb(245, 245, 255);
    }
}
@-moz-keyframes fadeInFromGray {
    from {
            opacity: 0;
            color: rgba(20, 20, 20, 0);
    }

    to {
        opacity: 1;
        color: rgb(245, 245, 255);
    }
}

.inactiveWhiteText {
    color: rgb(35, 35, 35, 0.2);
    -moz-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    -moz-transition-delay: 0.5s;
    -webkit-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    -webkit-transition-delay: 0.5s;
    transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 0.5s;
}

.activeWhiteText {
    color: rgb(245, 245, 255);
    -moz-transition: color 0.75s cubic-bezier(.68,-0.55,.27,1.55);
    -moz-transition-delay: 0.5s;
    -webkit-transition: color 0.75s cubic-bezier(.68,-0.55,.27,1.55);
    -webkit-transition-delay: 0.5s;
    transition: color 0.75s cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 0.5s;
}

#T1Board {
    box-shadow: -1px 1px 3px rgba(47, 47, 47, 0.75);
    border-left: 1px solid rgb(26, 26, 26) !important;
    background: -webkit-linear-gradient(-10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
   /* background: -moz-linear-gradient(-10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
    background: -o-linear-gradient(-10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%); */
    background: linear-gradient(-10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
}
#T2Board {
    box-shadow: 2px 1px 3px rgba(47, 47, 47, 0.75);
    border-right: 1px solid rgb(26, 26, 26) !important;
    background: -webkit-linear-gradient(10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
    /*background: -moz-linear-gradient(10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
    background: -o-linear-gradient(10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%); */
    background: linear-gradient(10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
}

.eventTitle {
    position: relative;
    left: calc(50% - 100px);
    width: 200px;
    text-align: center;
    text-transform:  uppercase;
    /* font-size: 12px; */
    font-size: 14px;
    line-height: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
    letter-spacing: 5px;
    font-style: oblique;
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    font-weight: 700;
    mix-blend-mode: luminosity;
    color: rgb(20, 20, 20);
}

#eventName {
    width: 100%;
    padding: 3px;
    display: none;
    font-size: 13px;
    font-weight: 500;
    border-left: 1px solid transparent;
    color: rgb(47, 47, 47);
    border: 2px solid rgb(47, 47, 47);
    border-radius: 3px;
    background-color: rgba(255, 216, 58, 1);
}

.timerContainer {
    display: inline-block;
    background-color: rgb(35, 35, 35);
    -moz-transition: height 1s, width 1s ease-in-out;
    -webkit-transition: height 1s, width 1s ease-in-out;
    transition: height 1s, width 1s ease-in-out;
    vertical-align: top;
    /* height: 31px; */
    /* height: calc(100% + 6px); */
    height: 39.5px;
    box-sizing: inherit;
    border-left-color: rgb(255, 216, 58);
    border-right-color: rgb(255, 216, 58);
    border-left-width: 2px;
    border-right-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom: 2px solid rgb(26, 26, 26);
    border-top: 2px solid rgb(26, 26, 26);
    color: rgb(245, 245, 255);
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.9) 10%, rgba(35, 35, 35, 0.9) 100%);
}

#timer {
    text-align: center;
    vertical-align: top;
    /* height: 100%; */
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: inherit;
    /* font-size: 27px; */
    /* font-size: 34px; */
    font-size: 38px;
    -moz-transition: color 1s, font-size 1s, padding 2s cubic-bezier(.86,0,.07,1);
    -webkit-transition: color 1s, font-size 1s, padding 2s cubic-bezier(.86,0,.07,1);
    transition: color 1s, font-size 1s, padding 2s cubic-bezier(.86,0,.07,1);
    line-height: 0.95;
}

#T1Score {
    text-align: right;
    padding-right: 5px;
}

#T2Score {
    text-align: left;
    padding-left: 5px;
}

.wedge {
    border-bottom: 5px solid transparent !important;
    display: inline;
    border-left-color: transparent;
    border-right-color: transparent;
    -moz-transition: border 0.5s cubic-bezier(.86,0,.07,1);
    -webkit-transition: border 0.5s cubic-bezier(.86,0,.07,1);
    transition: border 0.5s cubic-bezier(.86,0,.07,1);
    box-sizing: inherit;

}

#T1Wedge {
    border-right-width: 10px;
    border-right-style: solid;
    border-right-color: var(--faction-primary-color, rgb(20, 20, 20));
}

#T2Wedge {
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: var(--faction-primary-color, rgb(20, 20, 20));
}

#outfitT1 {
    padding-left: 3px;
    border-bottom-left-radius: 1px;
}

#outfitT2 {
    text-align: right;
    padding-right: 3px;
    border-bottom-right-radius: 1px;
}

.factionLabel {
    /* font-size: 8.5px; */
    font-size: 10px;
    display: inline-block;
    line-height: 1;
    height: 19px;
    /* padding-top: 3px; */
    padding-top: 8px;
    text-align: center;
    vertical-align: top;
    width: 0px;
    position: relative;
    box-sizing: inherit;
    color: rgb(20, 20, 20);
    -moz-transition-delay: 0.5s;
    -moz-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    -webkit-transition-delay: 0.5s;
    -webkit-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 0.5s;
    transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}

#T1Faction {
    border-bottom-left-radius: 1px;
    /* left: -8px; */
    left: -8.5px;
    color: var(--faction-flavor-color, rgb(245, 245, 255));
}

#T2Faction {
    border-bottom-right-radius: 1px;
    left: 2px;
    color: var(--faction-flavor-color, rgb(245, 245, 255));
}

@keyframes flashTextShadow {
    from {
        text-shadow: 0px 0px 0px rgb(245, 245, 255);
    }
    50% {
        text-shadow: 0px 0px 3px rgba(245, 245, 255, 0.75);
    }
    to {
        text-shadow: 0px 0px 0px rgba(245, 245, 255, 0);
    }
}

@-webkit-keyframes flashTextShadow {
    from {
        text-shadow: 0px 0px 0px rgb(245, 245, 255);
    }
    50% {
        text-shadow: 0px 0px 3px rgba(245, 245, 255, 0.75);
    }
    to {
        text-shadow: 0px 0px 0px rgba(245, 245, 255, 0);
    }
}
@-moz-keyframes flashTextShadow {
    from {
        text-shadow: 0px 0px 0px rgb(245, 245, 255);
    }
    50% {
        text-shadow: 0px 0px 3px rgba(245, 245, 255, 0.75);
    }
    to {
        text-shadow: 0px 0px 0px rgba(245, 245, 255, 0);
    }
}


.killfeed {
    display: inline-block;
    /* width: 345px; */
    /* width: 375px; */
    width: 400px;
    box-sizing: inherit;
    position: relative;
    /* top: -25px; */
    top: -15px;
    text-shadow:0px 0px 1px rgba(37, 37, 37, 0.95);
    line-height: 1.2;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    z-index: -1;
    padding-top: 20px;
    -moz-transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    filter: drop-shadow(0px 0px 1px rgb(20, 20, 20));
}

.killfeed.killfeedInactive {
    height: 25px;
}

.killfeed.killfeedActive {
}

#killfeedContainer::after {
    display: none;
    box-sizing: inherit;
    width: 30px;
    position: relative;
    left: calc(50% - 15px);
    bottom: -5px;
    content: "";
    border-top: 5px double rgba(255, 216, 58, 0.8);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}


#killfeedContainer {
}


.killfeedHeader {
    font-weight: 400;
    font-size: 10px;
    color: rgba(69, 69, 69);
    display: none;
}

.killfeedBody {
    overflow-y: hidden;
    box-sizing: inherit;
    box-sizing: border-box;
    /* max-width: 345px; */
    /* max-width: 375px; */
    max-width: 394px;
}

.killfeedRowContainer {
    display: grid;
    text-align: center;
    grid-gap: 7px;
    box-sizing: border-box;
    /* grid-template-columns: 1fr 25px 1fr 1fr; */
    grid-template-columns: 1fr 35px 1fr 1fr;
    padding: 0px 5px  0px 5px;
    /* max-width: calc(345px - 8px); */
    max-width: calc(375px - 8px);
    -moz-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 5s 1 normal forwards eventFadeOut;
    -webkit-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 5s 1 normal forwards eventFadeOut;
    animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 5s 1 normal forwards eventFadeOut;
    /* font-size: 14px; */
}

.killfeedRowContainer {
    padding-top: 3px;
}
/* 
#killfeed tr:first-child {
    padding-top: 10px;
} */

@keyframes eventFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes eventFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes eventFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes eventFadeOut {
    from {
        opacity: 1;
        height: initial;
        width: initial;
        top: 0px;
    }
    to {
        opacity: 0;
        color: rgba(245, 245, 255, 0);
        width: 0px;
        height: 0px;
        display: none;
        padding-top: 0px;
        top: 10px;
    }
}
@-moz-keyframes eventFadeOut {
    from {
        opacity: 1;
        height: initial;
        width: initial;
        top: 0px;
    }
    to {
        opacity: 0;
        color: rgba(245, 245, 255, 0);
        width: 0px;
        height: 0px;
        display: none;
        padding-top: 0px;
        top: 10px;
    }
}
@-webkit-keyframes eventFadeOut {
    from {
        opacity: 1;
        height: initial;
        width: initial;
        top: 0px;
    }
    to {
        opacity: 0;
        color: rgba(245, 245, 255, 0);
        width: 0px;
        height: 0px;
        display: none;
        padding-top: 0px;
        top: 10px;
    }
}


.weaponPointsContainer {
    display: grid;
    grid-template-columns: 80px 30px;
    box-sizing: inherit;
    grid-gap: 5px;
}

.killWeapon {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.killPoints {
    text-align: right;
}

.killfeedCell {
    text-align: left;
    box-sizing: inherit;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}


.killfeedCell.killfeedPlayer1, .killfeedCell.killfeedPlayer2, .killfeedCell.killfeedPlayer3 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 124px;
}

.killfeedCell.killfeedPlayer {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--faction-light-color, rgb(245, 245, 255));
   -webkit-filter: drop-shadow(0px 0px 2px var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)));
    filter: drop-shadow(0px 0px 2px var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)));
}

.killfeedCell.killfeedPlayer.killfeedWinner {
    text-align: left;
}

.killfeedCell.killfeedPlayer.killfeedLoser {
    text-align: left;
}


.killfeedCell.killfeedWeapon {
    width: 105px;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
    filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
}

.killfeedCell.killfeedPoints {
    width: 30px;
    text-align: right !important;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
    filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
}

body {
    /* font-family: "Input Mono", Consolas, monospace; */
    font-family: "Roboto Mono", "Input Mono", Consolas, monospace;
    font-size: large;
    font-weight: 600;
    background-color: transparent;
    background-position: center center;
    /* background-image:url('../images/20161114214846_1.jpg'); */
    /* background-image: url("../images/icon_skull_yellow.png"); */
    margin: 0px 10px 10px 10px;
    box-sizing: border-box;
}

.teamPlayersContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    text-align: center;
    box-sizing: inherit;
    white-space: nowrap;
    /* width: calc(25% - 60px); */
    min-width: 280px;
    max-width: calc(25% - 70px);
    /* max-width: 280px; */
    color: var(--faction-light-color, rgb(245, 245, 255));
    font-weight: 500;
    /* font-size: 16px; */
    font-size: 18px;
    /* font-size: small; */
}

.teamPlayersContainer.teamOne {
    float: left;
}

.teamPlayersContainer.teamTwo {
    float: right;
}

#T1Players {
}

#T2Players {
}

.playerStatsContainer {
    text-align: left;
    display: inline-block;
    box-sizing: inherit;
    background-color: rgba(35, 35, 35, 0.8);
    border: 1px solid rgb(20, 20, 20);
}

#T2Players .playerStatsContainer .playerStatsScore {
   text-align: left;
   padding-left: 5px;
}
#T2Players .playerStatsContainer .playerStatsName {
    text-align: right;
    padding-right: 3px;
}

#T1Players .playerStatsContainer .playerStatsScore {
   text-align: right;
   padding-right: 5px;
}
#T1Players .playerStatsContainer .playerStatsName {
    text-align: left;
    padding-left: 3px;
}


#T1Players .playerStatsContainer:first-of-type {
    border-top-right-radius: 5px;
}

#T1Players .playerStatsContainer:last-of-type {
    border-bottom-left-radius: 5px;
}

#T2Players .playerStatsContainer:first-of-type {
    border-top-left-radius: 5px;
}

#T2Players .playerStatsContainer:last-of-type {
    border-bottom-right-radius: 5px;
}

.playerStatsName {
    display: inline-block;
    width: calc(100% - 70px);
    box-sizing: border-box;
    text-overflow: ellipsis;
}


#T1Players .playerStatsName:before, #T2Players .playerStatsName:after {
    background: var(--class-icon-background, url('../images/even_borders/Icon_white_unknown_32.png'));
    /* background: url("../images/even_borders/Icon_white_combatMedic_32.png"); */
    content: "";
    background-size: 12px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    height: 12px;
    width: 18px;
    margin-bottom: 2px;
    vertical-align: middle;
    mix-blend-mode: overlay;
    box-sizing: inherit;
    filter: brightness(1.7);
    /* filter: brightness(2); */
}

#T1Players .playerStatsName:before{
    margin-right: 3px;
}

#T2Players .playerStatsName:after {
    margin-left: 3px;
}


.medic {
    --class-icon-background: url("../images/even_borders/Icon_white_combatMedic_32.png");
}

.la {
    --class-icon-background: url('../images/Icon_white_lightAssault_32.png');
}

.infil {
    --class-icon-background: url('../images/Icon_white_infiltrator_32.png');
}

.heavy {
    --class-icon-background: url('../images/even_borders/Icon_white_heavyAssault_32.png');
}

.engy {
    --class-icon-background: url('../images/Icon_white_engineer_32.png');
}

.max {
    --class-icon-background: url('../images/Icon_white_max_32.png');
}

.unknown {
    --class-icon-background: url('../images/even_borders/Icon_white_unknown_32.png');
}


.playerStatsScore {
    display: inline-block;
    text-align: right;
    /* width: 60px; */
    width: 70px;
    box-sizing: border-box;
}

#T1Players > .playerStatsContainer .playerStatsScore {
    padding-right: 5px;
}

#T1Players > .playerStatsContainer {
    background: -moz-linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    background: linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    background: -webkit-linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    /* background: -o-linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%); */
}
#T2Players > .playerStatsContainer {
    background: -moz-linear-gradient(170deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    background: linear-gradient(170deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    background: -webkit-linear-gradient(170deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    /* background: -o-linear-gradient(170deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%); */
}


.iconPlayerClass {
    display: inline-block;
    height: 20px;
    width: 20px;
    justify-self: center;
    box-sizing: inherit;
    filter: brightness(0) drop-shadow(0px 0px 1px var(--faction-dark-trans-color));
}

#T1Players .iconPlayerClass:last-of-type {
    border-bottom-left-radius: 5px;
}
#T2Players .iconPlayerClass:last-of-type {
    border-bottom-right-radius: 5px;
}

img  {
    vertical-align: middle;
}

img .darkenIconFilter {
    filter: brightness(0) drop-shadow(0px 0px 1px var(--faction-dark-trans-color));
}

.iconPlayerClass.iconClassHeavy {
    /* border-radius: 7px; */
}
.iconPlayerClass.iconClassMedic {
    /* border-radius: 1px; */
}
.iconPlayerClass.iconClassMax {
    /* border-radius: 1px 1px 10px 10px; */
}

.iconPlayerClass.iconClassLA {
    background-image: url('../images/Icon_white_lightAssault_32.png');
    background-size: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.iconPlayerClass.iconClassUnknown {
    background-image: url('../images/icon_LA_no_outline.png');
    /* background-image: url('../images/even_borders/Icon_white_unknown_32.png'); */
    background-size: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.playerRespawningBase {
    display: block;
    width: 100%;
    height: 0px;
}

.playerRespawningPlay {
    height: 3px;
    background-color: var(--faction-primary-color);
    -moz-animation: 10s linear 0s 1 reverse forwards respawnIn, 0.1s ease-in 10s 1 normal forwards wipeUp;
    -webkit-animation: 10s linear 0s 1 reverse forwards respawnIn, 0.1s ease-in 10s 1 normal forwards wipeUp;
    animation: 10s linear 0s 1 reverse forwards respawnIn, 0.1s ease-in 10s 1 normal forwards wipeUp;
}

.shrinkLeft {
    -moz-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.shrinkRight {
    -moz-transform-origin: right center;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.deadTextPlay {
    -moz-animation: 0.5s ease-in 0s 1 reverse forwards deadText, 0.5s ease-in 10s 1 normal forwards deadText;
    -webkit-animation: 0.5s ease-in 0s 1 reverse forwards deadText, 0.5s ease-in 10s 1 normal forwards deadText;
    animation: 0.5s ease-in 0s 1 reverse forwards deadText, 0.5s ease-in 10s 1 normal forwards deadText;
}


@keyframes respawnIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
@-moz-keyframes respawnIn {
    from {
        -moz-transform: scaleX(0);
    }
    to {
        -moz-transform: scaleX(1);
    }
}
@-webkit-keyframes respawnIn {
    from {
        -webkit-transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(1);
    }
}

@keyframes wipeUp {
    from {
        height: 3px;
    }
    to {
        height: 0px;
    }
}
@-moz-keyframes wipeUp {
    from {
        height: 3px;
    }
    to {
        height: 0px;
    }
}
@-webkit-keyframes wipeUp {
    from {
        height: 3px;
    }
    to {
        height: 0px;
    }
}


@keyframes deadText {
    from {
        color: rgba(245, 245, 255,0.4);
    }
    to {
        color: var(--faction-light-color, rgb(245, 245, 255));
    }
}
@-moz-keyframes deadText {
    from {
        color: rgba(245, 245, 255,0.4);
    }
    to {
        color: var(--faction-light-color, rgb(245, 245, 255));
    }
}
@-webkit-keyframes deadText {
    from {
        color: rgba(245, 245, 255,0.4);
    }
    to {
        color: var(--faction-light-color, rgb(245, 245, 255));
    }
}