.teamPlayersContainer {
    display: grid;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-auto-rows: 32px;
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    text-align: center;
    box-sizing: inherit;
    white-space: nowrap;
    width: calc(50% - (400px/2) - 16px);
    color: var(--faction-light-color, rgb(245, 245, 255));
    font-weight: 500;
    font-size: 13px;
}

#T1Players {
    direction: ltr;
}

#T2Players {
    direction: rtl;
}

.teamPlayersContainer.teamOne {
    float: left;
}

.teamPlayersContainer.teamTwo {
    float: right;
}

.playerStatsContainer {
    display: grid;
    direction: ltr;
    grid-gap: 2px;
    grid-template-columns: 16px 1fr 24px;
    grid-template-rows: 18px 7px;
    grid-template-areas:
        "name name icon"
        "score event icon";
    text-align: left;
    background-color: #1F233090;
    border: 1px solid #0F1320;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 3px;
}

.playerStatsName {
    display: inline-block;
    box-sizing: border-box;
    text-overflow: ellipsis;
    grid-area: name;
    overflow: hidden;
}

.playerStatsScore {
    grid-area: score;
    font-size: 12px;
    position: relative;
    top: -6px;
    left: 2px;
    color: var(--faction-flavor-trans-color);
}

.playerEventMask {
    grid-area: event;
    height: 100%;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: var(--faction-dark-high-trans-color);
    box-sizing: border-box;
}

.playerEventMask:empty {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-style: outset;
    border-bottom-color: var(--faction-flavor-trans-color);
}

.stripe {
    height: 52%;
    padding: 0 2px 0 3px;
    transform-origin: bottom;
    background-image: repeating-linear-gradient(-45deg,
        transparent,
        transparent 6px,
        var(--faction-flavor-trans-color) 6px,
        var(--faction-flavor-trans-color) 12px
    );
    animation: 0.5s pointControlFlash 12 linear alternate, 0.2s ease-out 2.25s 2 reverse forwards shrinkDown;
    animation-direction: alternate-reverse;}

.stripe:nth-child(odd) {
    background-image: repeating-linear-gradient(-45deg,
        var(--faction-flavor-trans-color),
        var(--faction-flavor-trans-color) 6px,
        transparent 6px,
        transparent 12px
    );
    animation: 0.5s pointControlFlash 0.25s 12 linear alternate-reverse, 0.25s ease-out 2.25s 1 reverse forwards shrinkDown;
    animation-direction: alternate-reverse;
}

@keyframes pointControlFlash {
    0% {
        background-color: var(--faction-flavor-trans-color);
    }
    100% {
        background-color: #0000;
    }
}

.playerClass {
    background-image: url('../images/even_borders/Icon_white_unknown_no_border_32.png');
    background-size: cover;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-top: 3px;
    filter: drop-shadow(0px 0px 2px var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)));
    opacity: 0.9;
    box-sizing: inherit;
    grid-area: icon;
}

.medic {
    background-image: url('../images/Icon_white_combatMedic_32.png') !important;
}

.la {
    background-image: url('../images/Icon_white_lightAssault_32.png') !important;
}

.infil {
    background-image: url('../images/Icon_white_infiltrator_32.png') !important;
}

.heavy {
    background-image: url('../images/Icon_white_heavyAssault_32.png') !important;
}

.engy {
    background-image: url('../images/Icon_white_engineer_32.png') !important;
}

.max {
    background-image: url('../images/Icon_white_max_32.png') !important;
}

.unknown {
    background-image: url('../images/Icon_white_unknown_32.png') !important;
}

#T1Players > .playerStatsContainer {
    background: -moz-linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, #1F2330E5 60%);
    background: linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, #1F2330E5 60%);
    background: -webkit-linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, #1F2330E5 60%);
    box-shadow: -1px 1px 3px rgba(47, 47, 47, 0.75);
}
#T2Players > .playerStatsContainer {
    background: -moz-linear-gradient(170deg, var(--faction-dark-trans-color) 0%, #1F2330E5 60%);
    background: linear-gradient(170deg, var(--faction-dark-trans-color) 0%, #1F2330E5 60%);
    background: -webkit-linear-gradient(170deg, var(--faction-dark-trans-color) 0%, #1F2330E5 60%);
    box-shadow: 2px 1px 3px rgba(47, 47, 47, 0.75);
}


.iconPlayerClass {
    display: inline-block;
    height: 20px;
    width: 20px;
    justify-self: center;
    box-sizing: inherit;
    filter: brightness(0) drop-shadow(0px 0px 1px var(--faction-dark-trans-color));
    mix-blend-mode: normal;
}

#T1Players .iconPlayerClass:last-of-type {
    border-bottom-left-radius: 5px;
}
#T2Players .iconPlayerClass:last-of-type {
    border-bottom-right-radius: 5px;
}

img  {
    vertical-align: middle;
}

img .darkenIconFilter {
    filter: brightness(0) drop-shadow(0px 0px 1px var(--faction-dark-trans-color));
}

.iconPlayerClass.iconClassLA {
    background-image: url('../images/Icon_white_lightAssault_32.png');
    background-size: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.iconPlayerClass.iconClassUnknown {
    background-image: url('../images/icon_LA_no_outline.png');
    background-size: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.playerRespawningBase {
    display: block;
    width: 100%;
    height: 0px;
}

.playerRespawningPlay {
    height: 100%;
    background-color: var(--faction-primary-color);
    opacity: 0.65;
    border-right: 3px solid var(--faction-flavor-trans-color);
    /* mix-blend-mode: color-dodge; */
    -moz-animation: 10s linear 0s 1 reverse forwards respawnIn, 0.1s ease-in 10s 1 normal forwards wipeUp;
    -webkit-animation: 10s linear 0s 1 reverse forwards respawnIn, 0.1s ease-in 10s 1 normal forwards wipeUp;
    animation: 10s linear 0s 1 reverse forwards respawnIn, 0.1s ease-in 10s 1 normal forwards wipeUp;
}

.shrinkLeft {
    -moz-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.shrinkRight {
    -moz-transform-origin: right center;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.deadTextPlay {
    -moz-animation: 0.5s ease-in 0s 1 reverse forwards deadText, 0.75s ease-in 10s 1 normal forwards deadText;
    -webkit-animation: 0.5s ease-in 0s 1 reverse forwards deadText, 0.75s ease-in 10s 1 normal forwards deadText;
    animation: 0.5s ease-in 0s 1 reverse forwards deadText, 0.75s ease-in 10s 1 normal forwards deadText;
}
.deadIconPlay {
   -moz-animation: 0.5s ease-in 0s 1 reverse forwards fadeOutSimple, 0.75s ease-in 10s 1 normal forwards fadeOutSimple;
   -webkit-animation: 0.5s ease-in 0s 1 reverse forwards fadeOutSimple, 0.75s ease-in 10s 1 normal forwards fadeOutSimple;
   animation: 0.5s ease-in 0s 1 reverse forwards fadeOutSimple, 0.75s ease-in 10s 1 normal forwards fadeOutSimple;
   /* mix-blend-mode: soft-light; */
}

.playerStatsContainer.deadTextPlay {
    background: -moz-linear-gradient(170deg, var(--faction-high-dark-trans-color) 0%, rgba(35, 35, 35, 0.55) 60%) !important;
    background: linear-gradient(170deg, var(--faction-dark-high-trans-color) 0%, rgba(35, 35, 35, 0.55) 60%) !important;
    background: -webkit-linear-gradient(170deg, var(--faction-dark-high-trans-color) 0%, rgba(35, 35, 35, 0.55) 60%) !important;
    /* border-color: var(--faction-flavor-dark-trans-color) !important; */
    border-color: #1F233056 !important;
    box-shadow: none !important;
    border-radius: 2px;
}

.revivedFlashPlay {
    -moz-animation: 1s ease-out 1 normal forwards flashTextShadow;
    -webkit-animation:  1s ease-out 1 normal forwards flashTextShadow;
    animation:  1s ease-out 1 normal forwards flashTextShadow;
}


@-moz-keyframes respawnIn {
    from {
        -moz-transform: scaleX(0);
    }
    to {
        -moz-transform: scaleX(1);
    }
}
@-webkit-keyframes respawnIn {
    from {
        -webkit-transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(1);
    }
}
@keyframes respawnIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}


@-moz-keyframes shrinkDown {
    from {
        -moz-transform: scaleY(0);
        opacity: 0.4;
    }
    to {
        -moz-transform: scaleY(1);
        opacity: 1;
    }
}
@-webkit-keyframes shrinkDown {
    from {
        -webkit-transform: scaleY(0);
        opacity: 0.2;
    }
    to {
        -webkit-transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes shrinkDown {
    from {
        transform: scaleY(0);
        opacity: 0.2;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}


@-moz-keyframes wipeUp {
    from {
        height: 3px;
    }
    to {
        height: 0px;
    }
}
@-webkit-keyframes wipeUp {
    from {
        height: 3px;
    }
    to {
        height: 0px;
    }
}
@keyframes wipeUp {
    from {
        height: 3px;
    }
    to {
        height: 0px;
    }
}



@-moz-keyframes deadText {
    from {
        color: rgba(245, 245, 255,0.4);
    }
    to {
        color: var(--faction-light-color, rgb(245, 245, 255));
    }
}
@-webkit-keyframes deadText {
    from {
        color: rgba(245, 245, 255,0.4);
    }
    to {
        color: var(--faction-light-color, rgb(245, 245, 255));
    }
}
@keyframes deadText {
    from {
        color: rgba(245, 245, 255,0.4);
    }
    to {
        color: var(--faction-light-color, rgb(245, 245, 255));
    }
}


@-moz-keyframes fadeOutSimple {
    from {
        opacity: 0.4;
        mix-blend-mode: soft-light;
    }
    to {
        opacity: 1;
        /* mix-blend-mode: normal; */
    }
}
@-webkit-keyframes fadeOutSimple {
    from {
        opacity: 0.4;
        mix-blend-mode: soft-light;
    }
    to {
        opacity: 1;
        /* mix-blend-mode: normal; */
    }
}
@keyframes fadeOutSimple {
    from {
        opacity: 0.4;
        mix-blend-mode: soft-light;
    }
    to {
        opacity: 1;
        /* mix-blend-mode: normal; */
    }
}