
/* TEXT COLORS */
.faction1 {
    /* color: rgb(106, 76, 224); */
  /* color: rgb(112, 80, 237); */
  /* color: rgb(141, 112, 255) !important; */
  /* --faction-primary-color: rgb(141, 112, 255); */
  --faction-primary-color: rgb(112, 80, 237);
  --faction-dark-color: rgb(46, 33, 96);
  --faction-dark-trans-color: rgba(46, 33, 96, 0.8);
  --faction-light-color: rgb(202, 188, 255);
  --faction-flavor-color: rgb(184, 233, 227);
}

 .faction2 {
    /* color: rgb(30, 153, 252) !important; */
    --faction-primary-color: rgb(30, 153, 252);
    --faction-dark-color: rgb(7, 37, 61);
    --faction-dark-trans-color: rgba(7, 37, 61, 0.8);
    /* --faction-light-color: rgb(255, 247, 175); */
    --faction-light-color: rgb(182, 221, 253);
    --faction-flavor-color: rgb(255, 247, 175);
    /* --faction-flavor-color: rgb(255, 247, 200); */
}

.faction3 {
    /* color: rgb(255, 108, 112) !important; */
    --faction-primary-color: rgb(255, 108, 112);
    --faction-dark-color: rgb(64, 27, 28);
    --faction-dark-trans-color: rgb(64, 27, 28, 0.8);
    --faction-light-color: rgb(255, 190, 191);
    --faction-flavor-color: rgb(229, 217, 212);
  }

.faction1dark {
    color: rgb(46, 33, 96) !important;
}

.faction2dark {
    color: rgb(7, 37, 61) !important;
}

.faction3dark {
    color: rgb(64, 27, 28) !important;
}

.faction1highlight {
    color: rgb(202, 188, 255) !important;
    /* color: rgb(184, 233, 227); */
}

.faction2highlight {
    /* color: rgb(182, 221, 253); */
    color: rgb(255, 247, 175) !important;
}

.faction3highlight {
    /* color: rgb(255, 210, 211); */
    color: rgb(229, 217, 212) !important;
}

.faction1flavor {
    color: rgb(184, 233, 227) !important;
}

.faction2flavor {
    /* color: rgb(255, 247, 175); */
    color: rgb(255, 247, 200) !important;
}

.faction3flavor {
    color: rgb(64, 27, 28) !important;
}


/* KILLFEED COLORS */
.faction1killtext {
    /* color: rgb(184, 233, 227); */
    color: rgb(141, 112, 255) !important;
    text-shadow: 0px 0px 1px rgb(46, 33, 96) !important;
    /* text-shadow: 0px 0px 1px rgb(184, 233, 227); */
}

.faction2killtext {
    /* color: rgb(255, 247, 175); */
    color: rgb(30, 153, 252) !important;
    text-shadow: 0px 0px 1px rgb(7, 37, 61) !important;
    /* text-shadow: 0px 0px 1px rgb(255, 247, 175); */
}

.faction3killtext {
    /* color: rgba(229, 217, 212, 0.95); */
    /* color: rgb(255, 210, 211); */
    color: rgb(255, 108, 112) !important;
    /* color: rgb(255, 108, 112);  */
    text-shadow: 0px 0px 1px rgb(64, 27, 28) !important;
    /* text-shadow: 0px 0px 1px rgb(255, 210, 211); */
}


/* BORDER COLORS */
.faction1border {
    border-color: rgb(112, 80, 237) !important;
}
.faction1DarkBorder {
    border-color: rgb(46, 33, 96) !important;
}

.faction2border {
   border-color: rgb(30, 153, 252) !important;
}
.faction2DarkBorder {
   border-color: rgb(7, 37, 61) !important;
}

.faction3border {
    border-color: rgb(255, 108, 112) !important;
}
.faction3DarkBorder {
    border-color: rgb(64, 27, 28) !important;
}


/* TIMER BORDER COLORS */
.faction1DarkBorderLeft {
    border-left-color: rgb(46, 33, 96) !important;
}
.faction1DarkBorderRight {
    border-right-color: rgb(46, 33, 96) !important;
}

.faction2DarkBorderLeft {
    border-left-color: rgb(7, 37, 61) !important;
}
.faction2DarkBorderRight {
    border-right-color: rgb(7, 37, 61) !important;
}

.faction3DarkBorderLeft {
    border-left-color: rgb(64, 27, 28) !important;
}
.faction3DarkBorderRight {
    border-right-color: rgb(64, 27, 28) !important;
}


/* BACKGROUND COLORS */
.faction1background {
    background-color: rgb(112, 80, 237) !important;
}
.faction1DarkBackground {
    background-color: rgb(46, 33, 96) !important;
}

.faction2background {
    background-color: rgb(30, 153, 252) !important;
}
.faction2DarkBackground {
    background-color: rgb(7, 37, 61) !important;
}

.faction3background {
    background-color: rgb(255, 108, 112) !important;
}
.faction3DarkBackground {
    background-color: rgb(64, 27, 28) !important;
}




/*______________*/
/* EVERYTHING ELSE */

.scoreboard {
    border-radius: 1px;
    color: rgb(245, 245, 255);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
}

.outfitScoresContainer {
    display: inline-block;
    box-sizing: inherit;
    border-radius: 1px;
    height: 31px;
    transition: height 0.5s cubic-bezier(.86,0,.07,1);
    color: rgb(35, 35, 35);
}

.outfitScoresRow {
    display: inline-block;
    /* height: 22px; */
    /* height: 20px; */
    /* height: calc(100% - 8px); */
    height: 26px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: var(--faction-primary-color, rgb(20, 20, 20));
    transition: border 0.5s cubic-bezier(.86,0,.07,1);
    border-bottom: 1px solid rgb(26, 26, 26) !important;
    box-sizing: inherit;
    background-color: rgb(35, 35, 35);
}

.outfitAlias {
    text-align: left;
    display: inline-block;
    width: 60px;
    font-weight: 500;
    box-sizing: inherit;
    /* transition-delay: 0.5s;
    transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55); */
   
    transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 1.5s;
    animation: flashTextShadow;
    animation-duration: 1.75s;
    animation-delay: 1.75s;
    color: var(--faction-flavor-color, rgb(35, 35, 35));
}

.aliasFaction1 {
    /* animation-name: fadeToAliasFaction1; */
    color: rgba(202, 188, 255, 1);
    /* transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55); */
}
.aliasFaction2 {
    /* animation-name: fadeToAliasFaction2; */
    color: rgba(255, 247, 175, 1);
    /* transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55); */
}
.aliasFaction3 {
    /* animation-name: fadeToAliasFaction3; */
    color: rgba(229, 217, 212, 1);
    /* transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55); */
}

@keyframes fadeToAliasText {
    from {
        opacity: 0;
        color:  rgb(35, 35, 35);
    }
    to {
        opacity: 1;
        color: var(--faction-flavor-color);
    }
}

@keyframes fadeToAliasFaction1 {
    from {
         opacity: 0;
         color: rgba(202, 188, 255, 0);
    }

    to {
        opacity: 1;
        color: rgba(202, 188, 255, 1);
    }
}

@keyframes fadeToAliasFaction2 {
    from {
        opacity: 0;
        color: rgba(255, 247, 175, 0);
    }

    to {
        opacity: 1;
        color: rgba(255, 247, 175, 1);
    }
}

@keyframes fadeToAliasFaction3 {
    from {
         opacity: 0;
         color: rgba(229, 217, 212, 0);
    }
    
    to {
        opacity: 1;
        color: rgba(229, 217, 212, 1);
    }
}


.outfitScore {
    display: inline-block;
    /* width: 60px; */
    min-width: 60px;
    /* background-color: rgb(47, 47, 47); */
    /* background-color:rgb(35, 35, 35); */
    /* transition: all 0.5s cubic-bezier(.86,0,.07,1); */
    box-sizing: inherit;
    /* animation-name: fadeInFromGray; */
    /* animation-duration: 1s;
    animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
    animation-delay: 1s; */
    /* color: rgb(245, 245, 255); */
    /* transition: color 0.5s cubic-bezier(.86,0,.07,1); */
    /* transition-delay: 1s; */
    /* color: rgb(35, 35, 35); */
    /* transition-delay: 1s; */
    /* color: rgba(35, 35, 35, 0); */
}

@keyframes fadeInFromGray {
    from {
            opacity: 0;
            color: rgba(20, 20, 20, 0);
    }

    to {
        opacity: 1;
        color: rgb(245, 245, 255);
    }
}

.inactiveWhiteText {
    color: rgb(35, 35, 35, 0.2);
    /* transition: color 0.5s cubic-bezier(.86,0,.07,1); */
    transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    /* transition-delay: 1s; */
    transition-delay: 0.5s;
}

.activeWhiteText {
    color: rgb(245, 245, 255);
    /* transition: color 0.5s cubic-bezier(.86,0,.07,1); */
    transition: color 0.75s cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 0.5s;
}

#T1Board {
    box-shadow: -1px 1px 3px rgba(47, 47, 47, 0.75);
    border-left: 1px solid rgb(26, 26, 26) !important;
    background: linear-gradient(-10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
}
#T2Board {
    box-shadow: 2px 1px 3px rgba(47, 47, 47, 0.75);
    border-right: 1px solid rgb(26, 26, 26) !important;
    background: linear-gradient(10deg, var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%)
}

.eventTitle {
    position: relative;
    left: calc(50% - 100px);
    width: 200px;
    text-align: center;
    text-transform:  uppercase;
    font-size: 12px;
    line-height: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    letter-spacing: 5px;
    font-style: oblique;
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    font-weight: 700;
    mix-blend-mode: luminosity;
    color: rgb(20, 20, 20);
}

#eventName {
    width: 100%;
    padding: 3px;
    display: none;
    font-size: 13px;
    font-weight: 500;
    border-left: 1px solid transparent;
    color: rgb(47, 47, 47);
    border: 2px solid rgb(47, 47, 47);
    border-radius: 3px;
    background-color: rgba(255, 216, 58, 1);
}

.timerContainer {
    /* text-align: center; */
    display: inline-block;
    background-color: rgb(35, 35, 35);
    /* background-color: black; */
    transition: height 1s, width 1s ease-in-out;
    vertical-align: top;
    height: 31px;
    box-sizing: inherit;
    border-left-color: rgb(255, 216, 58);
    border-right-color: rgb(255, 216, 58);
    border-left-width: 2px;
    border-right-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom: 2px solid rgb(26, 26, 26);
    border-top: 2px solid rgb(26, 26, 26);
    color: rgb(245, 245, 255);
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.9) 10%, rgba(35, 35, 35, 0.9) 100%);
    /* background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.9) 10%, rgba(35, 35, 35, 0.9) 70%, rgba(20, 20, 20, 1) 100%); */
   /* background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.9) 10%, rgb(35, 35, 35, 0.9) 60%), rgba(20, 20, 20, 0.9) 90%, rgba(20, 20, 20, 1) 100%; */
}

#timer {
    /* display: inline-block; */
    /* width: 100% */
    text-align: center;
    vertical-align: top;
    /* border-right-color:  rgb(20, 20, 20); */
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: inherit;
    /* height: 29px; */
    /* height: 30px; */
    /* background-color: rgb(47, 47, 47); */
    /* background-color: rgb(35, 35, 35); */
    /* font-size: larger; */
    /* font-size: 24px; */
    /* font-size: 26px; */
    font-size: 27px;
    /* border-bottom: 1px solid rgb(131, 131, 131); */
    /* border-top: 1px solid rgb(131, 131, 131); */
    transition: color 1s, font-size 1s, padding 2s cubic-bezier(.86,0,.07,1);
    /* line-height: 1.2; */
    line-height: 0.95;
}

#T1Score {
    text-align: right;
    padding-right: 3px;
}

#T2Score {
    text-align: left;
    padding-left: 3px;
}

.wedge {
    border-bottom: 5px solid transparent !important;
    /* border-bottom: 7px solid transparent !important; */
    display: inline;
    border-left-color: transparent;
    border-right-color: transparent;
    transition: border 0.5s cubic-bezier(.86,0,.07,1);
    box-sizing: inherit;

}

#T1Wedge {
    border-right-width: 10px;
    border-right-style: solid;
    border-right-color: var(--faction-primary-color, rgb(20, 20, 20));
}

#T2Wedge {
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: var(--faction-primary-color, rgb(20, 20, 20));
}

#outfitT1 {
    padding-left: 3px;
    border-bottom-left-radius: 1px;
}

#outfitT2 {
    text-align: right;
    padding-right: 3px;
    border-bottom-right-radius: 1px;
}

.factionLabel {
    font-size: 8.5px;
    display: inline-block;
    line-height: 1;
    height: 19px;
    padding-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 0px;
    position: relative;
    box-sizing: inherit;
    color: rgb(20, 20, 20);
    /* transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 1.5s;
    animation: flashTextShadow;
    animation-duration: 1.75s;
    animation-delay: 1.75s; */
    transition-delay: 0.5s;
    transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}

#T1Faction {
    border-bottom-left-radius: 1px;
    /* text-align: right; */
    /* padding-left: 2px; */
    /* padding-right: 1px; */
    left: -8px;
    color: var(--faction-flavor-color, rgb(245, 245, 255));
}

#T2Faction {
    border-bottom-right-radius: 1px;
    left: 2px;
    color: var(--faction-flavor-color, rgb(245, 245, 255));
    /* text-align: left; */
    /* padding-left: 1px; */
    /* padding-right: 2px; */
    /* left: -5px; */
}

@keyframes flashTextShadow {
    from {
        text-shadow: 0px 0px 0px rgb(245, 245, 255);
    }
    50% {
        text-shadow: 0px 0px 3px rgba(245, 245, 255, 0.75);
    }
    to {
        text-shadow: 0px 0px 0px rgba(245, 245, 255, 0);
    }
}


#T1Faction-V1 {
    border-bottom-left-radius: 1px;
    /* text-align: right; */
    padding-left: 2px;
    padding-right: 1px;
}

#T2Faction-V1 {
    border-bottom-right-radius: 1px;
    /* text-align: left; */
    padding-left: 1px;
    padding-right: 2px;
}

.killfeed {
    display: inline-block;
    width: 345px;
    box-sizing: inherit;
    /* min-height: 25px; */
    position: relative;
    /* top: -20px; */
    top: -25px;
    text-shadow:0px 0px 1px rgba(37, 37, 37, 0.95);
    /* text-align: left; */
    line-height: 1.2;
    font-weight: 600;
    font-size: 11px;
    white-space: nowrap;
    z-index: -1;
    padding-top: 20px;
    /* box-shadow: 0px 0px 1px rgba(47, 47, 47, 0.75); */
    /* letter-spacing: -0.5px; */
    /* background-image: linear-gradient( to bottom, rgba(69, 69, 69, 0.5) 15px, rgba(69, 69, 69, 0) 100%); */
    transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    /* margin-left: 9px; */
    /* margin-right: 7px; */
    filter: drop-shadow(0px 0px 1px rgb(20, 20, 20));
}

.killfeed.killfeedInactive {
    /* height: 35px !important; */
    height: 25px;
    /* display: none; */
}

.killfeed.killfeedActive {
    /* background-image: linear-gradient( to bottom, rgba(37, 37, 37, 0.9) 15px, rgba(37, 37, 37, 0.9) 100%); */
    transition: height 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-delay: 1.5s;
    /* border-left: 2px solid rgba(255, 216, 58, 0.8); */
    /* border-right: 2px solid rgba(255, 216, 58, 0.8); */
    /* border-bottom: 3px solid transparent; */
}

#killfeedContainer::after {
    display: block;
    box-sizing: inherit;
    width: 30px;
    position: relative;
    left: calc(50% - 15px);
    /* bottom: -12px; */
    bottom: -5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    content: "";
    border-top: 5px double rgba(255, 216, 58, 0.8);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}


#killfeedContainer {
    /* min-height: 25px; */
    /* height: 25px; */
    /* box-sizing: border-box; */
    /* overflow-y: hidden; */
}


.killfeedHeader {
    font-weight: 400;
    font-size: 10px;
    color: rgba(69, 69, 69);
    display: none;
}

.killfeedBody {
    /* position: absolute; */
    /* position: relative; */
    /* top: 20px; */
    overflow-y: hidden;
    box-sizing: inherit;
    box-sizing: border-box;
    max-width: 345px;
}

.killfeedRowContainer {
    display: grid;
    text-align: center;
    grid-gap: 7px;
    /* grid-template-columns: 1fr 110px 1fr; */
    /* grid-template-columns: calc((345px - 113px) / 2 - 20px) 113px calc( (345px - 113px) / 2 - 20px); */
    box-sizing: border-box;
    /* grid-template-columns: 1fr 1fr 25px 1fr; */
    grid-template-columns: 1fr 25px 1fr 1fr;
    padding: 0px 5px  0px 5px;
    max-width: calc(345px - 8px);
    -moz-animation: 0.5s cubic-bezier(.55,.06,.68,.19) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 5s 1 normal forwards eventFadeOut;
}

.killfeedRowContainer:first-of-type {
    padding-top: 5px;
}

@-moz-keyframes eventFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes eventFadeOut {
    from {
        opacity: 1;
        height: initial;
        width: initial;
    }
    to {
        opacity: 0;
        color: rgba(245, 245, 255, 0);
        width: 0px;
        height: 0px;
        display: none;
        padding-top: 0px;
    }
}


.weaponPointsContainer {
    display: grid;
    grid-template-columns: 80px 30px;
    box-sizing: inherit;
    grid-gap: 5px;
}

.killWeapon {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.killPoints {
    text-align: right;
    /* float: right; */
    /* display: inline-text; */
}

.killfeedCell {
    /* font-size: 10px; */
    text-align: left;
    box-sizing: inherit;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    /* display: inline-block; */
    /* padding-right: 5px; */
    /* padding-left: 5px; */
}


.killfeedCell.killfeedPlayer1, .killfeedCell.killfeedPlayer2, .killfeedCell.killfeedPlayer3 {
    /* font-size: 12px; */
    /* font-weight: 500; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 124px;
}

.killfeedCell.killfeedPlayer {
    /* font-size: 12px; */
    /* font-weight: 500; */
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--faction-light-color, rgb(245, 245, 255));
    filter: drop-shadow(0px 0px 2px var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)));
    /* max-width: 105px; */
}

.killfeedCell.killfeedPlayer.killfeedWinner {
    /* text-align: right; */
    text-align: left;
}

.killfeedCell.killfeedPlayer.killfeedLoser {
    text-align: left;
}

/*
.killfeedCell.killfeedPlayer:before {
    /* display: inline; */
    /*width: 8px;
    background-color: black;
    border: 2px solid red;
    border-radius: 1px;
}*/

/*
.killfeedCell.killfeedPlayer1:before, .killfeedCell.killfeedPlayer2:before, .killfeedCell.killfeedPlayer3:before {
    display: inline-block;
    width: 8px;
} */


.killfeedCell.killfeedWeapon {
    width: 95px;
    filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
}

.killfeedCell.killfeedPoints {
    width: 20px;
    text-align: right !important;
    filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
}

#killfeed {
    /* max-height: 85px; */
}

#killfeedCap {
    display: none;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px double rgb(255, 216, 58);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

/*
.killfeedCell.killfeedPlayer::before {
    display: inline-block;
    background-color: rgb(20, 20, 20);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 216, 58);
    border-radius: 4px;
    height: 4px;
    width: 4px;
    vertical-align: middle;
    /* margin-bottom: 2px;
    content: "";
    margin-right: 2px;
}
*/
/*
.killfeedCell.killfeedPlayer.faction1killtext::before {
    background-color: rgb(141, 112, 255);
    border-color: rgb(42, 224, 200);
    /* border-style: dotted;
}
.killfeedCell.killfeedPlayer.faction2killtext::before {
    /* background-color: rgb(255, 247, 175);
    border-color: rgb(7, 37, 61);
    border-style: none !important;
    background-color: rgb(30, 153, 252);
    outline: 1px dashed rgb(255, 247, 175) !important;
    margin-right: 3px;
    margin-left: 1px;
    outline: 1px
}
.killfeedCell.killfeedPlayer.faction3killtext::before {
    background-color: rgb(255, 108, 112);
    border-color: rgb(64, 27, 28);
    border-style: double;
    border-width: 2px;
    width: 2px;
    height: 2px;
}
*/

body {
    /* font-family: "Input Mono", Consolas, monospace; */
    font-family: "Roboto Mono", "Input Mono", Consolas, monospace;
    font-size: large;
    font-weight: 600;
    background-color: transparent;
    /* background-image: url('../images/planetside2_x64 2017-11-10 02-14-39.png'); */
    background-position: center center;
    background-image:url('../images/20161114214846_1.jpg');
    margin: 0px 10px 10px 10px;
    box-sizing: border-box;
}

.teamPlayersContainer {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 20px 1fr; */
    grid-gap: 2px;
    text-align: center;
    box-sizing: inherit;
    white-space: nowrap;
    /* width: calc(50% - (450px / 2) - 10px); */
    /* width: calc(25% - (450px / 2) - 10px); */
    width: calc(25% - 60px);
    /* max-width: 300px; */
    max-width: 280px;
    color: var(--faction-light-color, rgb(245, 245, 255));
    font-weight: 500;
    font-size: small;
    /* margin-top: 2px; */
}

.teamPlayersContainer.teamOne {
    grid-template-columns: 20px 1fr;
    float: left;
}

.teamPlayersContainer.teamTwo {
    grid-template-columns: 1fr 20px;
    float: right;
}

#T1Players {
    /* float: left; */
}

#T2Players {
    /* float: right; */
    /* grid-template-columns: 1fr 20px; */
}

.playerStatsContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
    box-sizing: inherit;
    background-color: rgba(35, 35, 35, 0.8);
    /* border-color: rgb(20, 20, 20); */
    /* border-width: 2px; */
    border: 1px solid rgb(20, 20, 20);
}

#T2Players .playerStatsContainer .playerStatsScore {
   text-align: left;
   padding-left: 5px;
}
#T2Players .playerStatsContainer .playerStatsName {
    text-align: right;
    padding-right: 5px;
}

#T1Players .playerStatsContainer .playerStatsScore {
   text-align: right;
   padding-right: 5px;
}
#T1Players .playerStatsContainer .playerStatsName {
    text-align: left;
    padding-left: 5px;
}

/* 
#T1Players .playerStatsContainer:first-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#T1Players .playerStatsContainer:last-of-type {
    border-bottom-left-radius: 5px;
}

#T2Players .playerStatsContainer:first-of-type {
    border-top-left-radius: 5px;
}

#T2Players .playerStatsContainer:last-of-type {
    border-bottom-right-radius: 5px;
} */

.playerStatsName {
    display: inline-block;
    width: calc(100% - 60px);
    box-sizing: border-box;
    /* padding-left: 5px; */
}

.playerStatsScore {
    display: inline-block;
    text-align: right;
    width: 60px;
    box-sizing: border-box;
}

#T1Players > .playerStatsContainer .playerStatsScore {
    padding-right: 5px;
}

#T1Players > .playerStatsContainer {
    background: linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    background: -moz-linear-gradient(-10deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
}
#T2Players > .playerStatsContainer {
    background: linear-gradient(170deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
    background: -moz-linear-gradient(170deg, var(--faction-dark-trans-color) 0%, rgba(35, 35, 35, 0.8) 60%);
}


.iconPlayerClass {
    display: inline-block;
    height: 20px;
    width: 20px;
    justify-self: center;
    /* border: 1px solid rgb(20, 20, 20); */
    /* background-color: rgba(30, 30, 30, 0.8); */
    /* border-radius: 10px; */
    /* border-radius: 1px; */
    box-sizing: inherit;
    filter: brightness(0) drop-shadow(0px 0px 1px rgba(46, 33, 96, 0.8));
}

#T1Players .iconPlayerClass:last-of-type {
    border-bottom-left-radius: 5px;
}
#T2Players .iconPlayerClass:last-of-type {
    border-bottom-right-radius: 5px;
}

img  {
    vertical-align: middle;
}

img .darkenIconFilter {
    filter: brightness(0) drop-shadow(0px 0px 1px rgba(46, 33, 96, 0.8));
}

.iconPlayerClass.iconClassHeavy {
    /* border-radius: 7px; */
}
.iconPlayerClass.iconClassMedic {
    /* border-radius: 1px; */
}
.iconPlayerClass.iconClassMax {
    /* border-radius: 1px 1px 10px 10px; */
}

.iconPlayerClass.iconClassLA {
    background-image: url('../images/Icon_white_lightAssault_32.png');
    background-size: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 1px 1px 10px 10px; */
}

.iconPlayerClass.iconClassUnknown {
    background-image: url('../images/icon_LA_no_outline.png');
    /* background-image: url('../images/even_borders/Icon_white_unknown_32.png'); */
    background-size: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.playerRespawningBase {
    display: block;
    width: 100%;
    height: 0px;
    /* background-color: rgb(141, 112, 255); */
}

.playerRespawningPlay {
    /* display: block;
    width: 100%;*/
    height: 3px;
    background-color: rgb(141, 112, 255);
    /* transform-origin: left center; */
    -moz-animation: 10s linear 0s 1 reverse forwards respawnIn, 0.1s ease-in 10s 1 normal forwards wipeUp;
}

/*
.playerRespawningBase.playerRespawningPlay.shrinkLeft {
    transform-origin: left center;
    -moz-transform-origin: left center;
}

.playerRespawningBase.playerRespawningPlay.shrinkRight {
    transform-origin: right center;
    -moz-transform-origin: right center;
}*/
.shrinkLeft {
    transform-origin: left center;
    -moz-transform-origin: left center;
}

.shrinkRight {
    transform-origin: right center;
    -moz-transform-origin: right center;
}

.deadTextPlay {
    -moz-animation: 0.5s ease-in 0s 1 reverse forwards deadText, 0.5s ease-in 10s 1 normal forwards deadText;
}


@-moz-keyframes respawnIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@-moz-keyframes wipeUp {
    from {
        height: 3px;
    }
    to {
        height: 0px;
    }
}


@-moz-keyframes deadText {
    from {
        color: rgba(245, 245, 255,0.4);
    }
    to {
        color: var(--faction-light-color, rgb(245, 245, 255));
    }
}



/* DOTS */
.respawnTimeContainer {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    box-sizing: inherit;
    background-color: transparent;
    width: 60px;
}


.loadingDiv {
    text-align: left;
}

.loadingDiv span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 1px 1px;
    /* background: #174C4F; */
    background-color: transparent;
    border-radius: 10px;
    -webkit-animation: 2.5s ease-out 0s 1 normal forwards loading;
    /* -moz-animation: 2s ease-out 0s 1 normal forwards loading; */
    -moz-animation: 2.5s cubic-bezier(0,.18,.58,1) 0s 4 normal forwards loading;
    /* box-shadow: 1px 1px 1px #444444; */
    border: 4px dashed rgb(245, 245, 255);
    box-sizing: inherit;
}

.loadingDiv span:nth-of-type(5) {
    /* background-color: #207178; */
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}
.loadingDiv span:nth-of-type(4) {
    /* background-color: #FF9666; */
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}
.loadingDiv span:nth-of-type(3) {
    /* background-color: #FFE184; */
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
}
.loadingDiv span:nth-of-type(2) {
    /* background-color: #F5E9BE; */
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
}
.loadingDiv span:first-of-type {
    /* background-color: #F5E9BE; */
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
}


@-webkit-keyframes loading {
    0% {
        width: 10px;
        height: 10px;
        border-width: 3px;
        /* -webkit-transform: translateZ(0); */
    }

    100% {
        width: 0px;
        height: 0px;
        border-width: 0px;
        /* -webkit-transform: translateZ(-21px); */
    }
}

@-moz-keyframes loading {
    0% {
        width: 10px;
        height: 10px;
        border-width: 3px;
        -moz-transform: roate(0deg);
        /* -moz-transform: scaleX(1); */
        /* -moz-transform: scaleY(1); */
        /* -moz-transform: translateZ(0); */
    }

    100% {
        width: 0px;
        height: 0px;
        border-width: 0px;
        -moz-transform: rotate(1080deg);
        /* -moz-transform: scaleX(0);
        -moz-transform: scaleY(0); */
        /* -moz-transform: translateZ(-21px); */
    }
}